* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f8fdf3;
    color: #484646;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;

    border-radius: 0.4em;
    background: #f7f7f7;
    box-shadow: 0 0 26px rgba(0, 0, 0, 0.15);
}


@media (min-width: 769px) {
    .wrapper {
        width: 90%;
        margin: 2em auto;
    }
}


section {
    border: 1px solid black;
}

ul {
    list-style: none;
}


h2,
h3 {
    font-size: large;
    color: rgb(30, 25, 26);
    margin-bottom: 10px;
}


/* EXPERIENCE */

.experience-item {
    border: 1px solid black;
    border-radius: 3px;
    min-height: 30px;
    margin: 10px 0px;
    padding: 5px 0px;
    align-items: left;


    display: flex;
    flex-direction: column;
}

.job-wrapper {
    display: flex;
    flex-direction: column;
}

.job-dash {
    display: none !important;
    margin: 0 10px;
}

@media (min-width: 769px) {
    .experience-item {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .job-wrapper {
        flex-direction: row;
    }

    .job-dash {
        display: block !important;
    }
}


/* SKILLS */
#skills-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.skills-item {
    color: black;
    padding: 10px;
    margin: 5px;
    background: white;
    border: 1px solid black;
    border-radius: 3px;
}


/* FORM */

#feedback-form {
    display: flex;
    flex-direction: column;

    border-radius: .2em;
    border: solid 4px white;
    box-shadow: 0 1px 14px rgba(0, 0, 0, .15);

}

.form-item {
    display: flex;
    flex-direction: column;
}

#feedback-form input {
    height: 30px;
    margin-bottom: 5px;
    border: none;
}

#feedback-form textarea {
    height: 60px;
    margin-bottom: 5px;
    border: none;
}


#feedback-form button {
    display: block;
    height: 30px;
    color: white;
    font-size: 1em;
    background: gray;
    border: none;
    border-radius: .2em;
}



/* MESSAGES */

#messages {
    padding: 15px;
    background-color: floralwhite;
    color: black;
}


.messages-hide {
    display: none;
}

.messages-show {
    display: block;
}


#messages ul li {
    padding: 1em;
    background: white;
    border-radius: 0.3em;
    border: solid 1px black;
}

#messages label {
    display: block;
}


#messages li a {
    font-style: normal;
    font-weight: 800;
}

/* #messages li span {

} */

#messages button {
    display: block;
    border-radius: 6px;
    color: #FF4742;
    background: floralwhite;
    border: 1px solid #FF4742;
}

#messages button:hover {
    background-color: #FF4742;
    color: #fff;
}


/* FOOTER */

footer {
    letter-spacing: 1px;
    margin: 10px;
    padding: 15px;
}

.copyright {
    display: flex;
    align-items: center;
}


.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-container {
    display: flex;
    flex-direction: row;
}

.icon-social {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}