* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: blanchedalmond;
    color: darkslategray;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
}


section {
    border: 1px solid black;
    margin: 8px;
}


h1,
h2,
h3 {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(30, 25, 26);
}


/* Change the layout of your "Experience" section using rows and columns */
#experience {
    /* padding: 15px; */
    background-color: rgb(216, 234, 234);
}

.experience-item {
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px;
    background-color: bisque;
    min-height: 30px;

    display: flex;
    flex-direction: column;
}


@media (min-width: 769px) {
    .experience-item {
        flex-direction: row;
    }

    .experience-company {
        margin-right: auto;
    }
}





/* Transform the "Skills" list items into styled blocks */
#skills {
    background-color: rgb(185, 207, 246);
    padding: 15px;
}

#skills ul {
    list-style-type: square;
    list-style-position: outside;
    font-size: 1.1rem;
}

/* Style the "Leave a Message" form elements */

/* Change padding, background color, border, etc. of submit button */
form button {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    padding: 8px 14px;
}

form button:hover {
    background-color: #fff;
    color: #FF4742;
}

form button:active {
    opacity: .5;
}


/* Update the "Leave a Message" form to use Flexbox or CSS Grid */
.form-row label {
    background-color: lightgray;
}

.form-row input,
.form-row textarea,
.form-row label {
    width: 100%;
}

.form-wrapper {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    background-color: lightblue;

    display: flex;
    flex-direction: column;

}

.form-row {
    background-color: lightcoral;
    margin: 5px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
}



@media (min-width: 769px) {
    .form-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .form-row {
        flex-direction: column;
        align-items: flex-start;
        min-width: 40%;
    }

    .form-textarea {
        flex-grow: 2;
    }
}


/* MESSAGES */



#messages {
    padding: 15px;
    background-color: floralwhite;
    color: black;
}


.messages-hide {
    display: none;
}
.messages-show {
    display: block;
}

#messages ul {
    list-style: none;
}

#messages ul li {
    padding: 1em;
    background: #fff;
    border-radius: 0.3em;
    border: solid 1px black;
}

#messages label {
    display: block;
}


#messages li a {
    font-style: normal;
    font-weight: 800;
}

#messages li span {

}

#messages button {
    display: block;
    border-radius: 6px;
    color: #FF4742;
    background: floralwhite;
    border: 1px solid #FF4742;
}

#messages button:hover {
    background-color: #FF4742;
    color: #fff;
}


/* Change the spacing and background color of the footer */
footer {
    background-color: white;
    letter-spacing: 1px;
}