* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f8fdf3;
    color: #484646;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;

    border-radius: 0.4em;
    background: #f7f7f7;
    box-shadow: 0 0 26px rgba(0, 0, 0, 0.15);
}


@media (min-width: 769px) {
    .wrapper {
        width: 90%;
        margin: 2em auto;
    }
}


section {
    border: 1px solid black;
    margin-bottom: 5px;
}

ul {
    list-style: none;
}


h2 {
    font-size: large;
    margin-bottom: 10px;
}

button {
    display: block;
    height: 30px;
    font-size: 1em;
    border-radius: 0.2em;
}


/* EXPERIENCE */

.experience-item {
    border: 1px solid black;
    border-radius: 3px;
    min-height: 30px;
    margin: 10px 0px;
    padding: 5px 0px;
    align-items: left;


    display: flex;
    flex-direction: column;
}

.job-wrapper {
    display: flex;
    flex-direction: column;
}

.job-dash {
    display: none !important;
    margin: 0 10px;
}

@media (min-width: 769px) {
    .experience-item {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .job-wrapper {
        flex-direction: row;
    }

    .job-dash {
        display: block !important;
    }
}


/* SKILLS */
#skills-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.skills-item {
    color: black;
    padding: 10px;
    margin: 5px;
    background: white;
    border: 1px solid black;
    border-radius: 3px;
}


/* FORM */

#feedback-form {
    display: flex;
    flex-direction: column;

    border-radius: .2em;
    border: solid 4px white;
    box-shadow: 0 1px 14px rgba(0, 0, 0, .15);

}

.form-item {
    display: flex;
    flex-direction: column;
}

#feedback-form input {
    height: 30px;
    margin-bottom: 5px;
    border: none;
}

#feedback-form textarea {
    height: 60px;
    margin-bottom: 5px;
    border: none;
}


#feedback-form button {
    color: white;
    background: gray;
    border: none;
}


/* MEDIA QUERY FORM */
@media (min-width: 415px) and (max-width: 768px) {
    #feedback-form {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #name {
        margin-right: 8px;
    }

    .form-item {
        flex-basis: 50%;
    }

    .form-message,
    .form-button {
        flex-basis: 100%;
    }

    #feedback-form textarea {
        height: 30px;
    }
}

@media (min-width: 769px) {
    .feedback-wrapper {
        display: flex;
        flex-direction: row;
    }

    #feedback-form {
        flex-direction: column;
    }

    #leave-message, #messages {
        flex-basis: 50%;
    }
}
/* MESSAGES */

.messages-hide {
    display: none;
}

.messages-show {
    display: flex;
    flex-direction: column;
}


.messages-wrapper {
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0.5em;
    padding: 0.5em;
    background: white;
    border-radius: 0.2em;
    border: solid 1px black;
}

.message-from {
    flex-basis: 100%;
    display: flex;
    align-items: center;
}

.message-text {
    /* background-color: lightgray; */
    flex-basis: 100%;
    min-height: 30px;

    display: flex;
    align-items: center;
}

.message-from span {
    margin-right: 5px;
}

.remove-message {
    /* flex-basis: 60px; */
    /* padding: 0 10px; */
    flex-basis: 50%;

    color: red;
    border: 1px solid red;
}

.remove-message:hover {
    background-color: #FF4742;
    color: #fff;
    border: 1px solid red;
}

.edit-message {
    flex-basis: 50%;
    color: green;
    border: 1px solid green;
}


@media (min-width: 415px) and (max-width: 768px) {

    .message-from {
        order: 2;
        flex-basis: auto;
        flex: 3;
    }

    .message button {
        order: 3;
        flex-basis: auto;
        flex: 1;
    }
}


/* FOOTER */

footer {
    letter-spacing: 1px;
    margin: 10px;
    padding: 15px;
}

.copyright {
    display: flex;
    align-items: center;
}


.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-container {
    display: flex;
    flex-direction: row;
}

.icon-social {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}